    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Title }}</title>
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">
        <link rel="stylesheet" type='text/css' href="{{ .Site.BaseURL }}css/main.css"/>
        <link rel="shortcut icon" href="./img/favicon.ico" />
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <style>
            @font-face {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                src: local('Montserrat-Bold'), url(./font/montserrat.woff) format('woff');
            }
		 
		    @font-face {
		      font-family: 'Source Sans Pro';
		      font-style: normal;
		      font-weight: 300;
		      src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./font/sourcesanspro.woff) format('woff');
		    }
        </style>
    </head>
